<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="form">

 
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="text-gray">Bank name</label>
        <input formControlName="name" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('name').touched && form.get('name').hasError('required')">Required
          Field</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="text-gray">Bank Code</label>
        <input formControlName="bank_code" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('bank_code').touched && form.get('bank_code').hasError('required')">Required
          Field</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="text-gray">Swift Code</label>
        <input formControlName="swift_code" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('swift_code').touched && form.get('swift_code').hasError('required')">Required
          Field</small>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="is_active">Status</label>
          <select formControlName="is_active" class="form-control custom-select" id="is_active">
            <option value="1">ACTIVE</option>
            <option value="0">INACTIVE</option>
          </select>
        </div>
      </div>
    </div>
  <div *ngIf="loading" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
      aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
  <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
    <div *ngFor="let err of errorMessages">{{err}}</div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button [disabled]="!form.valid" type="button" class="btn  btn-md btn-primary" (click)="submitData()">Save Record</button>

  </div>