<!--begin::Signin-->
<div class="login-form login-signin">
  <!--begin::Form-->
  <form
  [formGroup]="loginForm"
   (ngSubmit)="loginUser()"
    class="form"
    novalidate="novalidate"
    id="kt_login_signin_form"
   
  >
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Eclectics MB Services
      </h3>
    </div>
    <!--end::Title-->

   
 
    <!-- begin::Alert error-->

    <ng-container *ngIf="errorMessage">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">{{errorMessage}}</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group"
     [class.error]="
    loginForm.controls['username'].dirty &&
    loginForm.hasError('required', 'email')
  ">
      <label class="font-size-h6 font-weight-bolder text-dark">Username</label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="text"
        name="name"
        formControlName="username"
        autocomplete="off"
        required="required"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Username is required',
          control: loginForm.controls['username']
        }"
      ></ng-container>    

      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: 'Minimum is 3 digit',
          control: loginForm.controls['username']
        }"
      ></ng-container>
    
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'username should have maximum 360 symbols',
          control: loginForm.controls['username']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group"
      [class.error]="
    loginForm.controls['pin'].dirty &&
    loginForm.hasError('required', 'pin')
  ">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5"
          >Pin</label
        >
        <a
          routerLink="/auth/forgot-password"
          class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5"
          id="kt_login_forgot"
        >
          Forgot Password ?
        </a>
      </div>

      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="password"
        name="password"
        autocomplete="off"
        formControlName="pin"
        required
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Pin is required',
          control: loginForm.controls['pin']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'pin should be 4 symbols',
          control: loginForm.controls['pin']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Pin should have maximum 4 digit',
          control: loginForm.controls['pin']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Action-->
    <div class="pb-lg-0 pb-5">
      <button
        type="submit"
        id="kt_login_signin_submit"
        class="btn  btn-login font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
      >
        Sign In 
      </button>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
