<!-- <app-dashboard-wrapper></app-dashboard-wrapper> -->

<!-- <div class="col-sm-12">
    <span class="text-primary">Transactions summary</span>
    <div class="row cardit">
        <div class="col-sm-2">
            <div class="callout callout-info">
                <small class="">Total No. of Transactions</small>
                <br>
                <strong class="h4">60</strong>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="callout callout-success">
                <small class=""> Success Count</small>
                <br>
                <strong class="h4">55</strong>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="callout callout-danger">
                <small class="">Failed Count </small>
                <br>
                <strong class="h4">5</strong>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="callout callout-info">
                <small class=""> Total Value</small>
                <br>
                <strong class="h4">209,000 GHS</strong>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="callout callout-success">
                <small class=""> Success Value</small>
                <br>
                <strong class="h4">200,000 GHS</strong>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="callout callout-danger">
                <small class=""> Failed Value</small>
                <br>
                <strong class="h4">9,000 GHS</strong>
            </div>
        </div>
    </div>
-->
    <!--
    <hr class="mt-0">

</div>

<div class="row">
    <div class="col-md-6">
        <app-validation-requests-over-time></app-validation-requests-over-time>
    </div>

    <div class="col-md-6">
        <app-withdrawals-by-method-type></app-withdrawals-by-method-type>
        <app-validation-requests-by-mto></app-validation-requests-by-mto>
    </div>
    <div class="col-md-6 pt-8">
        <app-value-of-transactions-ot></app-value-of-transactions-ot>
    </div>
    <div class="col-md-6 pt-8">
    <app-transactions-by-momo-bar></app-transactions-by-momo-bar>
    </div>
</div> -->